# Visual Studio User config files

*.suo

# 
*.bak

# vs debug file
*.pdb

# vs build outputs
**/obj/Debug/
**/obj/Release/
**/obj/*/Debug/
**/obj/*/Release/

**/bin/Debug/
**/bin/Release/
**/bin/*/Debug/
**/bin/*/Release/
